* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #2a2923;
}

/* navigation bar css */
nav {
    padding: 35px 100px 35px 100px;    
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    
    
}
.list-item {
    list-style: none;
    margin: 20px;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    color: #a6a6a3;
    
}
.list :first-child {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}

.navbar-container {
    display: grid;
    grid-template-columns: 1.8fr 3fr 1fr;
    align-items: center;
}

.nav-button {
    background: transparent;
    border: 1.5px solid #978834;
    border-radius: 10px;
    width: 140px;
    height: 45px;
    margin: 5px;
    color: #978834;
    font-size: 16px;
    margin-left: 30px;
    cursor: pointer;
}

nav img {
    width: 120px;
    cursor: pointer;
}

/* banner css */

.banner-container {
    display: flex;
    flex-direction: column;
}

.banner1 {
    display: flex;
    padding: 0 100px 0 100px;
    align-items: center;
}

.banner1 h1 {
    font-size: 70px;
    text-align: left;
    width: 40vw;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-top: 20px;
    color: #fff;
}

.banner1 p {
    font-size: 18px;
    text-align: left;
    width: 25vw;
    line-height: 1.3em;
    margin-left: 150px;
    margin-top: -80px;
    color: #a6a6a3;
}

.banner2 {
    background-image: url("assets/law.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: -200px;
    width: auto;
    height: 70vh;
}

.banner3 {
    display: flex;
    justify-content: flex-end;
}